.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

h1 {
    float: left;
    margin: 0 20px;
    font-family: 'Dancing Script', cursive, serif;
    font-size: 40px;
}

ul#layers {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    float: right;
}

li.layer-control .ui-slider-horizontal {
    height: 5px;
    width: 80px;
    display: inline-block;
}

li.layer-control .ui-slider-handle {
    top: -3px;
    left: -3px;
    height: 9px;
    width: 15px;
}

li.layer-control span.label {
    margin: 0 5px;
}

#control-box a, #control-box a:visited {
    color: #7cf;
}

#map {
    height: 70%;
    width: 90%;
    background: #bbb;
    border: 2px solid #bbb;
    margin: 10px auto;
    padding: 0;
}
